.Navigation {
  float: left;
  position: absolute;
  /*background-color: red;*/
  height: 100vh;
  width: 15vw;
  max-width: 200px;
  display: flex;
  overflow: show;
}

/*Message box temporarily disabled*/
.Message {
  display: none;
  position: absolute;
  text-align: left;
  /*display: flex;
  flex-wrap: wrap;*/
  width: 100%;
  height: auto;
  overflow: wrap;
  margin: auto;
}

h1 {
  margin: auto;
  margin-top: 0.5em;
  margin-left: 0.5em;
}

h2 {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #ed801a;
}

ul {
  /*align-content: center;*/
  text-align: left;
  margin-left: 0px;
  padding-left: 0px;

  margin: auto;
  list-style-type: none;
}
